[source_mysql]
host = 127.0.0.1
port = 3306
user = root
password =
database = sylaby_db
table_name = sylaby
charset = utf8mb4

[target_mysql]
host = 127.0.0.1
port = 3306
user = root
password =
database = haptireader
table_name = braille_pl
charset = utf8mb4

[rules]
top_limit = 28
min_occurrences = 1
overwrite_existing_syllables = false